		body {
			font-family: Segoe UI Bold;
			background: #170051;
			color: white;
		}
		.divblock {
			width: 200px;
			height: 200px;
			border-radius: 30px;
			box-shadow: 0px 0px 15px #000;
			transition-duration: 0.3s;
		}
		.divblock:hover {
			box-shadow: 0px 0px 20px #FEB93D;
		}
		.divblock:active {
			box-shadow: 0px 0px 20px #FFF;
		}
		@font-face {
			font-family: 'Segoe UI Bold';
			font-style: normal;
			font-weight: normal;
			src: url('segoe/SegoeUIBold.woff') format('woff');
		}
		@font-face {
			font-family: 'Segoe UI Variable Display';
			font-style: normal;
			font-weight: normal;
			src: url('segoe/SegUIVar.woff') format('woff');
		}
		@font-face {
			font-family: 'Segoe UI Regular';
			font-style: normal;
			font-weight: normal;
			src: url('segoe/SegoeUI.woff') format('woff');
		}
		@font-face {
			font-family: 'Helvetica';
			font-style: normal;
			font-weight: normal;
			src: url('schedule/files/hbold.woff') format('woff');
		}
		@font-face {
			font-family: 'DIN Next';
			font-style: normal;
			font-weight: normal;
			src: url('images/din.woff') format('woff');
		}
		.standard {
			font-family: 'Segoe UI Variable Display';
			font-style: normal;
			font-weight: normal;
			font-size: 28px;
		}
		.win7 {
			color: black;
			font-size: 0.8vw;
			border-radius: 3px;
			border: 1px solid white;
			box-shadow: 0px 0px 0px 1px #444;
			font-family: Segoe UI Regular;
			background: linear-gradient(#EDEDED 50%, #D6D6D6 50%);
			padding: 2px 16px;
			transition-duration: 0.5s;
			margin: 10px;
		}
		.win7:hover {
			border: 1px solid #75DDF4;
			box-shadow: 0px 0px 0px 1px #3BA7D2;
			background: linear-gradient(#d3f1ee 50%, #cad6d3 50%);
		}
		.win7:active {
			border: 1px solid #75DDF4;
			box-shadow: 0px 0px 0px 1px #3BA7D2;
			background: linear-gradient(180deg, #E0EFF8,#C4E5F6 50%, #98D1EF,#6FB7DE 50%);
			-webkit-box-shadow: inset 0px 0px 2px #000;
		}
		.vistax {
			color: white;
			font-size: 10px;
			border-radius: 3px;
			border: 1px solid #CC8575;
			box-shadow: 0px 0px 0px 1px #3D0917;
			font-family: Segoe UI Regular;
			background: linear-gradient(#E8A799, #E1988A 50%, #B63E26 50%,#D48374 100%);
			padding: 0 9px;
			margin: 0px;
		}
		.vistax:hover {
			box-shadow: 0px 0px 0px 1px #3C0714;
			font-family: Segoe UI Regular;
			background: linear-gradient(#FCC6BD, #FAA596 50%, #D42909 50%,#E1793C 85%, #FAEE6B 100%);
		}
		.vistax:active {
			box-shadow: 0px 0px 0px 1px #461521;
			background: linear-gradient(#CBA28D, #B7826A 50%, #964029 50%,#964F1B 85%, #F5EC6A 100%);
		}
		.vistabasic {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background: linear-gradient(#99B4D1, #B9D1EB 5%, #B9D1EB);
			position: relative;
		}
		underline {
			text-decoration: underline;
		}
		
		select {
			font-size: 1.2vw;
			width:70%;
			font-family: Segoe UI Regular;
			background: white;
			color: black;
		}